.dashboard-container {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-gap: 20px;
  padding: 20px;
}

.recent-comments-widget {
  height: 100%;
}

.dashboard-grid-col-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.likes-dislikes-widget {
  flex-grow: 1;
  flex-basis: 0;
}

.audience-widget {
  flex-grow: 1;
  flex-basis: 0;
}

.total-views-widget {
  flex-basis: 100%;
}

.subscriber-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 5px 0px;
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 1200px) {
  .dashboard-container {
    grid-template-columns: 1fr;
  }

  .total-views-widget {
    flex-grow: 1;
    flex-basis: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .dashboard-grid-col-2 {
    flex-direction: column;
  }

  .likes-dislikes-widget {
    flex-grow: 0;
  }
  
  .audience-widget {
    flex-grow: 0;
  }
  
  .total-views-widget {
    flex-basis: 0;
  }
}
